.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center;
  background: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.estimate-display-container {
  margin: 0;
  font-size: 46vw;
  user-select: none;
  font-weight: bold;
  color: white;
  transform: translateY(-10%);
}

.btn-toggle-scale {
  position: fixed;
  right: 2vw;
  top: 2vh;
  -webkit-appearance: none;
  background: #757575;
  color: #fdfdfd;
  border: none;
  padding: 0.5em;
  font-size: 2vw;
  font-weight: bold;
  min-height: 40px;
  min-width: 40px;
}

.input-estimate-range {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  width: 96vw;
  min-height: 40px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: #757575;
  height: 4vh;
}

@media screen and (min-width: 800px) {
  .input-estimate-range {
    width: 50%;
  }
}

.input-estimate-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 4vh;
  min-height: 40px;
  min-width: 40px;
  width: 10%;
  background: #fdfdfd;
}

.input-estimate-range::-moz-range-thumb {
  -moz-appearance: none;
  height: 4vh;
  min-height: 40px;
  min-width: 40px;
  width: 10%;
  background: #fdfdfd;
  border-radius: 0;
}

.input-estimate-range::-ms-thumb {
  height: 4vh;
  min-height: 40px;
  min-width: 40px;
  width: 10%;
  background: #fdfdfd;
}
.input-estimate-range::-ms-fill-lower {
  background: #757575;
}
.input-estimate-range::-ms-fill-upper {
  background: #757575;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}